<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunny Weather App</title>
    <link rel = "stylesheet" type = "text/css" href = "/stylesheets/homepage.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to Sunny Weather!</h1>
        <p>Enjoy the bright and sunny weather today. Stay updated with the latest forecasts.</p>
        <div class="buttons">
            <form action = "/login">
            <button class="login">Login</button>
            </form>
            <form action = "/register">
            <button class="register">Register</button>
            </form>
        </div>
    </div>
</body>
</html>